/*styles specific for hallOfFame Modules*/


#content
{
  margin-top: 100px;
}
.panel-body
{
  padding: 0;
}
.img-responsive
{
  display: inline;
}

.hofStack .label
{
  border-radius: 0;
}
.hofStack .panel-footer {
    padding: 0 15px;
}
.hofStack
{
      max-height: 231px;
      overflow: hidden;
      margin-bottom: 2px;
      padding: 1px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

   /* Large desktop */
   @media (max-width: 1200px) {

   }
   /* Medium desktop */
   @media (max-width: 992) {
     .hofStack {

     max-height: 233px;
       }
   }

   /* Landscape phone to portrait tablet */
   @media (max-width: 768px) {
     .hofStack {

     max-height: 259px;
       }
   }
/* Portrait & landscape phone */
@media (max-width: 480px) {
  .hofStack {
        max-height: 231px;
  }
}
