/* --------------------------------------
   Layout
   -------------------------------------- */
body {
	background-color: #293a46;
}

footer{
   background-color: #1A1C22;
   font-size: 14px;
   padding: 20px;
   margin-top: 20px;
   color:#1ca8dd;
}

footer .company_name{
   color:#003366;
   font-weight: bold;
   font-size: 48px;
   margin: 0;
   text-shadow : 1px 2px 2px #66ff33;
}

footer ul{
   list-style: none;
   margin-left: 0;
   padding-left: 0;
}

footer li a , footer li a:hover{
   color: #cfd2da;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brand{
	padding: 0;
    margin-left:0px;
}

.navbar-fixed-top{
   background-color: #1A1C22;
}
.navbar-header h2{
	margin: 10px 0 0;
	padding: 0 10px 0 0;
	color: #fff;
}

.nav li a{
	color: #cfd2da;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav>.active>a{
	color: #fff;
	background-color: #32566f;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav>li>a:hover{
	background-color: #32566f;
	color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	transition: background-color 0.5s ease;
}

.navbar-toggle .icon-bar {
   background-color: #fff;
}

.navbar-toggle {
   border: 1px solid #777;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

#tournamentHeading {
	margin-top : 70px;
	color: #cfd2da;
}

#myTournaments h1 , h2 , h3 , h4, h5 {
	color: orange;
	
}

#myTournaments .col-sm-4.col-xs-4{
    padding:5px;
}

.tournament {
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.tournament-heading {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.tile-0{
	background-color: #2672EC;
}

.tile-1{
	background-color: #5133AB;
}

.tile-2{
	background-color: #AC193D;
}

.item.tile-3{
	background-color: #D24726;
}

#partofTournammentCarousel .item,
#createdTournammentsCarousel .item,
#playedTournammentsCarousel .item
{
   height: 220px;
   width: 100%;
   margin: auto;
   padding: 10px 20px;
}

#partofTournammentCarousel .carousel-control,
#createdTournammentsCarousel .carousel-control,
#playedTournammentsCarousel .carousel-control
{
	width: 5%;
	font-size: 25px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */
