/* --------------------------------------
   Layout
   -------------------------------------- */
body {
	background-color: #293a46;

}


/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brand{
	padding: 0;
    margin-left:0px;
}
.navbar-header h2{
	margin: 10px 0 0;
	padding: 0 10px 0 0;
	color: #fff;
	
}

.nav li a{
	color: #cfd2da;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav>.active>a{
	color: #fff;
	background-color: #1ca8dd;
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav>li>a:hover{
	background-color: #32566f;
	color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	transition: background-color 0.5s ease;
}

.navbar-toggle .icon-bar {
   background-color: #fff;
}

.navbar-toggle {
   border: 1px solid #777;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
#tournments{
	margin-top: 50px;
	text-align: center;
}

#tournments h3{
	color: #fff;
	text-align: left;
}

.panel-1{
	color: #1ca8dd;
}

.panel-2{
	color: #E64759;
}

.panel-3{
	color: #9F86FF;
}

.panel-4{
	color: #ECE472;
}
