body {
  background-color: #666;
}
#content {
  padding-top: 300px;
  text-align: center;
}
#content, #teams-wrap {
  color: #f2f2f2;
  padding-top: 60px;
}
#teams-wrap h1{
  text-align: center;
}
.row {
  border: 1px solid #f2f2f2;
  padding: 0 10px;
}
.col-xs-2 {
  border: 1px solid orange;
  margin-bottom: 10px;
}
#teams-wrap .row {
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.team:nth-child(2n+1) {
  background: #555;
}
#teamRequests .col-xs-4 {
  border: 1px solid red;
}
