/* --------------------------------------
   Global Styles
   -------------------------------------- */
.title{
	margin-top : 60px;
}
.title span{
    display: block;
    margin-top: 10px;
    font-weight: 300;
    color: #cfd2da;
    font-size: 18px;
   
}

.title li{
	
	display: inline;
}

.title li a{
	color : #5fd9b0;
	font-size: 14px;
}

.breadcrum{
 	position: absolute;
    top: 100px;
    left: auto;
    right: 5%;
    margin: -10px 0 0;
    background-color: transparent;
    padding: 0;    
 }

 .breadcrum li:after{
	content: "/";
	color: #cfd2da;
	padding: 0 5px;
 }

 .breadcrum li:last-child:after {
	content: none;
}


#myTournaments h1 , h2 , h3 , h4, h5 {
	color: orange;
	
}

.tournament {
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding-top: 70%;
	width: 100%;
	height: auto;
}

.icon-font-game {
	position: absolute;
	right: 5%;
	bottom:-5%;
	transform: rotate(-18deg);
	-webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    -o-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    
}

.tournament-details{
	text-transform: uppercase;
	background: rgba(0,0,0,.8);
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tournament-details p{
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 700;
}


.tournament-heading {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

.tournament-heading hr{
	border-top: 1px solid #434857;
	margin: 0;
}

#partofTournammentCarousel .item,
#createdTournammentsCarousel .item,
#playedTournammentsCarousel .item
{
   height: 180px;
   width: 100%;
   margin: auto;
   padding: 10px 20px;
}

#partofTournammentCarousel .carousel-control,
#createdTournammentsCarousel .carousel-control,
#playedTournammentsCarousel .carousel-control
{
	width: 0%;
	font-size: 25px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#partofTournammentCarousel .item,
	#createdTournammentsCarousel .item,
	#playedTournammentsCarousel .item
	{
	   height: 240px;
	   
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#partofTournammentCarousel .item,
	#createdTournammentsCarousel .item,
	#playedTournammentsCarousel .item
	{
	   height: 320px;
	   
	}

}